.container {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 70px 100%;
    grid-template-areas: 
        "Menu header"
        "Menu Map"
    ;
}

header {
    display: grid;
    grid-area: header;
    color: #fff;
    background-color: #0f0f0f;
    line-height: 25px;
    grid-template-columns: 10fr 1fr;
    grid-template-areas: "Heading menuIcon";
    text-align: center
}

Header .menuIcon {
    grid-area: menuIcon;
    line-height: 70px;
    cursor: pointer;
    display: none;
}

header .page-title {
    grid-area: Heading
}

aside {
    grid-area: Menu;
    background-color: #2d2d2d;
    color: #fff;
    display: grid;
    grid-template-rows: 70px 100% 100%;
    grid-template-areas: 
        "head"
        "search"
        "searchResult"
    ;
}
aside .head{
    grid-area: head
}

aside .search {
    width: 100%;
    grid-area: search
}
aside .search label {
    display: none;
    text-align: center;
    font-weight: bold;
}
aside .search input {
    width: 100%;
    padding: 10px
}
aside .search-result{
    grid-area: searchResult;
    min-height: 920px
}
aside .search-result ul{
    list-style: none
}
aside .search-result ul li{
    padding-bottom: 10px
}

#map {
    grid-area: Map;
    height: 100%;
}
